.controls-bar {
  position: absolute;
  top: 0;
  z-index: 2;
  padding: 4rem 3rem;
  width: 100%;
  min-height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1vw;
  background: hsla(0, 0%, 75%, 0.5);
  backdrop-filter: blur(5px);
  overflow: hidden;
  transition: all 0.3s ease-in-out;

  .container-sort {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1vh;
  }

  .menu-btn {
    display: none;
  }

}

@media (max-width: 768px) {
  .controls-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1vw;
  }
}

@media (max-width: 550px) {
  .controls-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 2vh;

    .menu-btn {
      display: block;
    }

    &.active {
      padding: 2rem 3rem;
      gap: 2vh;
      transform: translateY(-55%);
      transition: all 0.3s ease-in-out;

      .container-sort {
        margin: 6vh 0 0 0;
        transition: all 0.3s ease-in-out;
      }
    }



    .container-sort {
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 1vh;
      transition: all 0.3s ease-in-out;
    }
  }
}